// Light green - main div background - eff7ed
// Bright green - buttons - 68ac5a
// Grey - page background - f2f2f2 
// Red - hover effects - dd3834

$Light: #eff7ed;
$Bright: #68ac5a;
$Grey: #f2f2f2;
$Effects: #dd3834;